/* google font here */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@layer utilities {
    .font-noto {
        font-family: "Noto Serif", serif;
    }
}

body {
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}
